body {
    background: rgb(165, 160, 18);
    font: normal 20pt Montserrat;
}

header {
    color: white;
    text-align: center;


}
section {
    background: white;
    border-radius: 50px;
    padding: 5px;
    width: 400px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.356);

}

div {
    text-align: center;
    padding: 10px;
}
footer {
    color: white;
    text-align: center;
    font-style: italic;


}